body {
    background-color: black;
    color: white;
    background-image: url('space-background.jpg');
}
h1 {
    background-color: rgba(255, 255, 255, 0.5);
}

a {
    background-color: rgba(255, 255, 255, 0.5);
}