body {
    background-color: black;
    color: white;
    background-image: url('space-background.jpg');
    background-repeat: repeat;
}
h1 {
    background-color: rgba(255, 255, 255, 0.5);
}

h2 {
    background-color: rgba(255, 255, 255, 0.5);
}

h3 {
    background-color: rgba(0,0, 0.5);
}

p {
    background-color: rgba(0,0, 0.5);
}

table {
    box-shadow: 4px 4px 10px rgba(255, 255, 255, 0.5);

}

ul {
    background-color: rgba(0,0, 0.5);
}

a {
    background-color: rgba(255, 255, 255, 0.5);
}

img {
    box-shadow: 4px 4px 10px rgba(255, 255, 255, 0.5);
}